* {
	background-color: lightgrey;
}

#designed {
	background-color: black;
	text-align: center;
	color: white;
}

#welcome {
	text-align: center;
	color: orangered;
}

#hallPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 75%;
}
